<%--
  Created by IntelliJ IDEA.
  User: Administrator
  Date: 2017/11/20 0020
  Time: 14:42
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
	<title>Title</title>

</head>
<body>
<p>Below:</p>
<div id="root"></div>
<!--<%&#45;&#45;<script src="<%request.getContextPath();%>/statics/js/bundle.js"></script>&#45;&#45;%>-->
<!--<script src="../../../statics/js/bundle.js"></script>-->
<script src="../../../statics/js/flux/bundle.js"></script>
</body>
</html>
